<h1>Edit Device Type</h1>
<form action="/device_types/edit/<%= device_type.id %>" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= device_type.name %>">
    </div>
    <div>
        <label for="prefix">prefix:</label>
        <input type="text" name="prefix" value="<%= device_type.prefix %>">
    </div>
    <input type="submit" value="Update Device Type">
</form>