<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Edit Employee
        </h1>
            <%- include('../partials/messages'); -%>
            <form action="/departments/edit/<%= department._id %>" method="POST">
            <input type="hidden" name="_method" value="PUT">
            
            </form>
        </div>
    </div>
</div>
