<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Edit Department
      </h1>
      <%- include('../partials/messages'); -%>
        <form action="/departments/edit/<%= department.id %>" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <label for="name">Department name</label>
            <input type="text" id="name" name="name" class="form-control"
              value="<%= typeof department != 'undefined' ? department.name : '' %>" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Save
          </button>
        </form>
    </div>
  </div>
</div>