//ejs code to edit a department
<% include ../partials/header %>
<h1>Edit Department</h1>
<form action="/departments/<%= department._id %>?_method=PUT" method="POST">

    <div>

        <label for="department[name]">Name:</label>

        <input type="text" name="department[name]" value="<%= department.name %>">

    </div>

    <div>

        <label for="department[description]">Description:</label>

        <input type="text" name="department[description]" value="<%= department.description %>">

    </div>

    <div>

        <label for="department[difficulty]">Difficulty:</label>

        <input type="text" name="department[difficulty]" value="<%= department.difficulty %>">

    </div>

    <div>

        <label for="department[completed]">Completed:</label>

        <input type="checkbox" name="department[completed]" <% if(department.completed){ %> checked <% } %>>

    </div>

    <input type="submit" value="Update Department">

</form>
