<table class="table table-striped table-bordered">

    <thead>

        <tr>

            <th>Department name</th>

        </tr>

    </thead>

    <tbody>

        <% for(var i=0; i<departments.length; i++) {%>

            <tr>

                <td><%= departments[i].name %></td>

                <td>

                    <!-- <a href="/departments/<%= departments[i]._id %>" class="btn btn-primary">View</a> -->

                    <!-- <a href="/departments/<%= departments[i]._id %>/edit" class="btn btn-warning">Edit</a> -->

                    <form action="/departments/<%= departments[i].id %>" method="POST" style="display: inline-block;">

                        <button class="btn btn-danger">Delete</button>

                    </form>

                </td>

            </tr>

        <% } %>

    </tbody>
    </table>
    <div>
        <a href="/departments/new" class="btn btn-primary">Add New Department</a>
        <a href="/dashboard" class="btn btn-primary">Go back to dashboard</a>
    </div>