<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= username %> , your email is <%= email %></p>
<a href="users/logout" class="btn btn-secondary">Logout</a>
<a href="/users" class="btn btn-primary">View Users</a>
<a href="/departments" class="btn btn-primary">View Departments</a>
<a href="/departments/new" class="btn btn-success">Add New Department</a>
<a href="/employees" class="btn btn-primary">View Employees</a>
<a href="/employees/new" class="btn btn-success">Add New Employee</a>
<a href="/devive_types" class="btn btn-primary">View Device Types</a>
<a href="/device_types/new" class="btn btn-success">Add New Device Type</a>
<a href="/devices" class="btn btn-primary">View Devices</a>
<a href="/devices/new" class="btn btn-success">Add New Device</a>
<a href="/assignments" class="btn btn-primary">View Assignments</a>
<a href="/assignments/new" class="btn btn-success">Add New Assignment</a>
<a href="/assignmnets/edit" class="btn btn-warning">Edit Assignment</a>
<a href="/users/edit" class="btn btn-warning">Edit Profile</a>

