<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= username %> , your email is <%= user_email %></p>
<a href="/views/users/logout" class="btn btn-secondary">Logout</a>
<a href="/views/users/<%= user_id %>/edit" class="btn btn-warning">Edit Profile</a>
<a href="/views/users/<%= user_id %>" class="btn btn-primary">View Profile</a>
<a href="/views/roles/index.ejs" class="btn btn-primary">View Roles</a>
<a href="/views/roles/new.ejs" class="btn btn-success">Add New Role</a>
<a href="/views/users/index.ejs" class="btn btn-primary">View Users</a>
<a href="/views/users/register.ejs" class="btn btn-success">Add New User</a>
<a href="/views/departments/index.ejs" class="btn btn-primary">View Departments</a>
<a href="/views/departments/new.ejs" class="btn btn-success">Add New Department</a>
<a href="/views/employees/index.ejs" class="btn btn-primary">View Employees</a>
<a href="/views/employees/new.ejs" class="btn btn-success">Add New Employee</a>
<a href="/views/devive_types/index.ejs" class="btn btn-primary">View Device Types</a>
<a href="/views/device_types/new.ejs" class="btn btn-success">Add New Device Type</a>
<a href="/views/devices/index.ejs" class="btn btn-primary">View Devices</a>
<a href="/views/devices/new.ejs" class="btn btn-success">Add New Device</a>
<a href="/views/assignments/index.ejs" class="btn btn-primary">View Assignments</a>
<a href="/views/assignments/new.ejs" class="btn btn-success">Add New Assignment</a>
<a href="/views/assignmnets/edit.ejs" class="btn btn-warning">Edit Assignment</a>
<a href="/views/users/edit.ejs" class="btn btn-warning">Edit Profile</a>

